/* Home.css */
.home-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}

.home-header {
    background-color: #7b7f7b;
    color: white;
    padding: 20px;
    text-align: center;
}

.home-main {
    flex: 1;
    padding: 20px;
    background-color: #080808;
    text-align: center;
}

.home-button {
    background-color: #222521a4;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.home-button:hover {
    background-color: #45a049;
}

.home-footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}